<div class="panel panel-primary"  [ngStyle]="{'background-image': getUrl(),'height' : '512px', 'background-size' : 'cover'}">
<br><br>
<h2>List of Students...</h2>
  <br>
  <div class="table1">
  <table class="table">
    <thead class="table table-dark">
      <tr>
        <th>UserId</th>
        <th>FirstName</th>
        <th>MiddleName</th>
        <th>LastName</th>
        <th>EmailId</th>
        <th>MobileNo</th>
        <th>AadharCardNo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of Users" class="table table-light">
        <td>{{student.userId}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.middleName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.email}}</td>
        <td>{{student.mobileNumber}}</td>
        <td>{{student.aadharCardNo}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>