<div class="tab"><br><br><br>
    <table class="table table-border">
        <tbody>
            <tr>
                <td class="table table-warning">10th Marksheet Upload</td>
                <td>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlFile1">Upload in .pdf of max 2MB</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                      </form>
                </td>
            </tr>
            <tr>
                <td class="table table-danger">12th Marksheet Upload</td>
                <td>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlFile1">Upload in .pdf of max 2MB</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                      </form>
                </td>
            </tr>
            <tr>
                <td class="table table-success">National Id(Adhar Card) Upload</td>
                <td>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlFile1">Upload in .pdf of max 2MB</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                      </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>