<div class="panel panel-primary"  [ngStyle]="{'background-image': getUrl(),'height' : '568px', 'background-size' : 'cover'}">
   <br>&nbsp;<button type="button" class="btn btn-light" (click)="back()">Back</button>
   
   <div class="table">
       <table class="table table-striped">
           <thead class="table table-warning">
             <tr>
               <th>CollegeRegId</th>
               <th>CollegeName</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let item of collegelist" class="table table-info">
                   <td>{{item.collegeRegId}}</td>
                   <td>{{item.collegeName}}</td>
             </tr>
           </tbody>
       </table>
   </div>
   </div>