<div class="panel panel-primary"  [ngStyle]="{'background-image': getUrl(),'height' : '512px', 'background-size' : 'cover'}">
<br><h2>Welcome To Admin</h2><br>
<h3>Instructions</h3>
<h4>1) Specify an Instance Identifier (SID)</h4>
<h4>2) Ensure That the Required Environment Variables Are Set.</h4>
<h4>3) Choose a Database Administrator Authentication Method.</h4>
<h4>4) Create the Initialization parameter File</h4>
<h4>5) (Windows Only) Create an Instance</h4>
<h4>6) Connect to the Instance.</h4>
<h4>7) Contacting HelpDesk for technical support</h4>
</div>